<%= form_for @question do |f| %>
  <div>
  <%= f.label :title %>
  <%= f.text_field :title %>
  </div>
  <div>
    <%=f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div>
    Tags(Comma Separated)
  <input type="text" name="tags">
  </div>
  <div>
    <%= f.submit class: 'btn btn-default'%>
  </div>
<% end %>