<h1><%= @question.title %></h1>
<h4><%= @question.body %></h4>
<h4>Karma: <%= @question.karma %></h4>

<div class="comment_form">
  <%= form_tag comments_path do %>
    <div>
    <p><%= label_tag :body, "Type your comment here." %></p>
    <%= text_area_tag :body %>
    <%= hidden_field_tag 'question_id', @question.id %>
    </div>
    <div>
    <%= submit_tag "Submit" %>
    </div>
</div>

<div class="comments">
  <% render @question.comments %>
</div>

<%= form_tag question_answers_path(@question.id) do %>
  <div>
    <%= label_tag :body, "Answer" %><br>
    <%= text_area_tag :body %>
  </div>
  <div>
    <%= submit_tag 'answer' %>
  </div>
<% end %>

<%= render 'answers/answer' %>
