<h1><%= @question.title %></h1>
<h4><%= @question.body %></h4>
<h4>Karma: <%= @question.karma %></h4>
<%= form_tag question_answers_path(@question.id) do %>
  <div>
    <%= label_tag :body %><br>
    <%= text_area_tag :body %>
  </div>
  <div>
    <%= submit_tag 'answer' %>
  </div>
<% end %>

<%= render 'answers/answer' %>



<div class="comment_form">
  <%= form_tag('/comments') do %>
    <p><%= label_tag :body, "Type your comment here." %></p>
    <%= text_area_tag :body %>
    <%= hidden_field_tag 'question_id', @question.id %>
    <%= submit_tag "Submit" %>
  <% end %>
</div>

<div class="comments">
  <% render @question.comments %>
</div>
