<%= form_for @user do |f| %>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Username</span>
    <%= f.text_field :username, class: "form-control" %>
  </div>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Email</span>
    <%= f.text_field :email, class: "form-control" %>
  </div>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Password</span>
    <%= f.password_field :password, class: "form-control"%>
  </div>

  <div>
    <%= f.submit class: 'btn btn-default' %>
  </div>
<% end %>