<div class="jumbotron">
  <h1><img id='profile-photo' src='http://www.gravatar.com/avatar/<%= gravitar(@user.email) %>'> Sup' <%= @user.username %></h1>
  <p><%= link_to "Ask a Question", new_question_path, class: "btn btn-primary btn-lg" %></p>
</div>

<div class="input-group">
	<span class="input-group-addon">Search by</span>
   <select class="form-control" id="search_by" name="search_by">
			<option value='title'>Title</option>
			<option value='tags'>Tags</option>
		</select> 
  <input id="description" type="text" class="form-control" placeholder="Description...">
  <span class="input-group-btn input-group-addon">
    <button class="btn btn-default" type="button" onclick="searchQuestion(<%=@user.id%>)" >search</button>
  </span>
</div>

<%= javascript_tag do %>
  var questions = <%=raw @question_data.to_json %>;
<% end %>

<div id="chart_div" class="container-yield graph_height"></div>
<div id="chart_nav" class="input-group"></div>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script>loadGApi();</script>

