<div class="answer_partial">
  <p>Answer: <%= answer.body %></p>
  <p><em>User: <%= answer.user.username %></em></p>
<!--   <p>Karma: <span class="karma"><%= answer.karma %></span></p> -->
  <% if current_user.id == answer.question.user_id && answer.best_answer == false %>
    <%= form_tag question_answer_path(answer.question_id, answer.id), method: "put", class: "vote-button" do |f| %>
    <div>
      <%= hidden_field_tag "best_answer", "true" %>
      <%= submit_tag "Best_answer", class: 'btn btn-default' %>
    </div>
    <% end %>
  <% end %>
</div>

<%= render partial:"votes/votes", locals: {type: "answer_id", id: answer.id} %>

<div class="edit_button">
<% if current_user.id == answer.user_id %>
  <%= link_to "Edit", edit_question_answer_path(answer.question_id, answer.id) %>
<% end %>
</div>
<div class="comment-section">
  <a class="toggle-comment-form" href="#">Comment</a>
  <%= render partial:"comments/form", locals: {id_type: "answer_id", id: answer.id}  %>
  <div class="comments">
    <%= render answer.comments %>
  </div>
</div>