
<div class="answer_partial">
  <p>Answer: <%= answer.body %></p>
  <p>User: <%= answer.user_id %></p>
</div>

<div class="comment_form">
  <%= form_tag comments_path do %>
    <div>
    <p><%= label_tag :body, "Type your comment here." %></p>
    <%= text_area_tag :body %>
    <%= hidden_field_tag 'answer_id', answer.id %>
    </div>
    <div>
    <%= submit_tag "Submit" %>
    </div>
  <% end %>
</div>
