
<%= form_tag votes_path, {class: "vote-button"} do |f| %>
  <div>
    <%= hidden_field_tag "score", 1 %>
    <%= hidden_field_tag type, id %>
    <%= submit_tag "Vote Up", class: 'btn btn-default' %>
  </div>
<% end %>

<%= form_tag votes_path, {class: "vote-button"} do |f| %>
  <div>
    <%= hidden_field_tag "score", -1  %>
    <%= hidden_field_tag type, id %>
    <%= submit_tag "Vote Down", class: 'btn btn-default'%>
  </div>
<% end %>

